@import '../../../assets/styles/sass/bourbon/bourbon';
@import '../../../assets/styles/sass/neat/neat';
@import '../../../assets/styles/sass/variables';

header {

  @include position(fixed, 0 null null 0px);
  
  @include media($mediumScreen){
    @include size(100% em(60px));

    div#menu-wrapper { 
      @include size(100% em(60px));
      @include position(absolute, 0 null null 0);
    }

    nav {
      padding-top: 75px;
      @include size(100% 100vh);
      @include position(absolute, -100vh null null 0);

      &.nav-open {
        top: 0;
      }
    }
  }
  
  @include media($largeScreen){
    @include size(em(150px) 100%);

    div#menu-wrapper { 
      @include transform(skewx(3deg));
      @include size(em(150px) 100%);
      @include position(absolute, 0 null null -39px);
    }

    nav {
      @include size(em(500px) 100%);
      @include position(absolute, 0 null null -428px);

      &.nav-open {
        left: 0;
      }
    }
  }

  div#menu-wrapper { 
    z-index: 1;
    background: $navBar;
  }

  nav {
    z-index: 0;
    background: $navSlide;
    @include transition (all 0.5s $ease-in-out-circ);

    ul {
      float: right;
      margin-right: em(20px);
      
      li {
        color: #FFF;
        font-size: em(50px);
      }
    }
  }
}