@import '~_stylesheets/sass/bourbon/bourbon';
@import '~_stylesheets/sass/neat/neat';
@import '~_stylesheets/sass/variables';

header#navbar {


  @include size(100% 500px);
  background: $navBar;
  @include transform(skewy(7deg));
  outline: 1px solid transparent;
  @include position(fixed, -140px null null 0px);
  @include transition(all .5s linear);

  div.menu-icon {
    @include position(relative, 60px 15px null null);
    @include transform(skewy(-7deg));
    float: right;
    @include transition(all .5s linear);
  }

  nav {
    @include position(relative, 500px null null 0);
    -webkit-box-shadow: inset 0px -4px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -4px 6px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px -4px 6px 0px rgba(0,0,0,0.75);
    outline: 1px solid transparent;
    height: 75px;
    -webkit-backface-visibility: hidden;
    font-size: 50px;
    ul {
      list-style: none;
      width: 95%; 
      display: table;
      li{
        display: table-cell;
      }
    }
  }

  &.nav-small {
     height: 75px;
     top: 0;
     @include transform(skewy(0deg));

    div.menu-icon {
      top: 0px;
      @include transform(skewy(0deg));
      float: right;
    }
  }

  /*@include position(fixed, 0 null null 0px);
  
  @include media($mediumScreen){
    @include size(100% em(60px));

    div#menu-wrapper { 
      @include size(100% em(60px));
      @include position(absolute, 0 null null 0);
    }

    nav {
      padding-top: 75px;
      @include size(100% 100vh);
      @include position(absolute, -100vh null null 0);

      &.nav-open {
        top: 0;
      }
    }
  }
  
  @include media($largeScreen){
    @include size(em(150px) 100%);

    div#menu-wrapper { 
      @include transform(skewx(3deg));
      @include size(em(150px) 100%);
      @include position(absolute, 0 null null -39px);
    }

    nav {
      @include size(em(500px) 100%);
      @include position(absolute, 0 null null -428px);

      &.nav-open {
        left: 0;
      }
    }
  }

  div#menu-wrapper { 
    z-index: 1;
    background: $navBar;
  }

  nav {
    z-index: 0;
    background: $navSlide;
    @include transition (all 0.5s $ease-in-out-circ);

    ul {
      float: right;
      margin-right: em(20px);
      
      li {
        color: #FFF;
        font-size: em(50px);
      }
    }
  }*/
}