<header class="head" intro="">
    <!--<div id="menu-wrapper">
        <menu-icon></menu-icon>
    </div>-->
    <a id="main-logo-link" href="#">
        <logo></logo>
    </a>
    
    <nav id="main-nav" class="nav-indicator" style="display: none;">
        <i class="active-marker"></i>
        <ul>
            <li class="nav-item" ng-repeat="item in nav.menu">
              <a class="page-link" ng-class="{'active': item.active}" ui-sref="{{ item.link }}">{{ item.name }}</a>
            </li>
        </ul>
    </nav>
</header>