@import '~_stylesheets/sass/bourbon/bourbon';
@import '~_stylesheets/sass/neat/neat';
@import '~_stylesheets/sass/variables';


$active-color: #0074D9;

.head {
  
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  @include size(100% 55px);
  @include position(fixed, 0 null null 0);

  #main-logo-link {
    @include position(relative, 45% null null 45%);
    @include size(150px auto);
    padding: 15px;
    display: block;
    @include transform(scale(2));
  }

  #main-nav {
    
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    list-style: none;

    .nav-item {
      border: none;
      text-align: right;
      cursor: pointer;
      @include margin(5px 5px);
      padding-right: 10px;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      border: solid 1px transparent;
      border-radius:10px;
      -webkit-font-smoothing: antialiased;

      .page-link{
        color: #000;
        display: block;
        @include padding(5px 5px);
      
        &.active {
          color: $active-color;
        }
      
      }
      
    }

    .active-marker {
    background: $active-color;
    bottom: 0;
    display: none;
    height: 5px;
    position: absolute;
    left: 0;
    transition: all .2s cubic-bezier(.25, .25, .25, 1.25);
    width: auto;
  }

  }



}