@import '~_stylesheets/sass/bourbon/bourbon';

/*.logo {
  width: 100%;
  .logo-svg {
    width: 100%; 
    height: auto;
    
    #main-paths {
      fill: #F00;

      .main-paths{
        animation-delay: 0s;
        animation-direction: alternate;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        stroke-dasharray: 1750;
        stroke-dashoffset: 1750;
        animation-name: logo;
      }
      
      @keyframes logo {
        0% {
          stroke-dashoffset: 0;
        },
        100% {
          stroke-dashoffset: 1750;
        }
      }
    }
    
  }
}
*/

#logo {

  //@include position(absolute, 40vh 0 0 40vw);
  //animation: move 1s 2s forwards;
  @include size(100% auto);

  .letter {
    animation: draw 2s forwards;

    @keyframes draw {
      0%{},
      70%{
        stroke-dashoffset: 0;
        fill: transparent;
      },
      100%{
        stroke-dashoffset: 0;
        fill: #000;
      }
    }
  }

  @keyframes move {
    0%{},
    100%{
      top: 10px;
      left: 10px;
      @include size(130px auto);
    }
  }
  
}